	/*
  	Flaticon icon font: Flaticon
  	Creation date: 16/05/2019 18:45
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-style: normal;
}



.flaticon-left-arrow:before { content: "\f100"; }
.flaticon-right-arrow:before { content: "\f101"; }
.flaticon-next:before { content: "\f102"; }
.flaticon-back:before { content: "\f103"; }
.flaticon-down-arrow:before { content: "\f104"; }
.flaticon-music-player-play:before { content: "\f105"; }
.flaticon-airplane:before { content: "\f106"; }
.flaticon-doctor:before { content: "\f107"; }
.flaticon-folder:before { content: "\f108"; }
.flaticon-face:before { content: "\f109"; }
.flaticon-tooth:before { content: "\f10a"; }
.flaticon-cancer:before { content: "\f10b"; }
.flaticon-brain:before { content: "\f10c"; }
.flaticon-allergic:before { content: "\f10d"; }
.flaticon-quote:before { content: "\f10e"; }
.flaticon-call:before { content: "\f10f"; }
.flaticon-email:before { content: "\f110"; }
.flaticon-destination:before { content: "\f111"; }
.flaticon-first-aid-kit:before { content: "\f112"; }
.flaticon-drug:before { content: "\f113"; }
.flaticon-patient:before { content: "\f114"; }
.flaticon-medical-history:before { content: "\f115"; }
.flaticon-diploma:before { content: "\f116"; }
.flaticon-pills:before { content: "\f117"; }
.flaticon-phone-call:before { content: "\f118"; }
.flaticon-clock:before { content: "\f119"; }







